
#header{
     background-color: red;
     margin-top: 0px;
}

#contenedor{
     /*margin: 0 auto;*/
     width: 100%;
     height:auto;
}

.texto_cabecera{
     font-size: 80px;
     color:white;
     margin:auto;
     text-align: center;
}
.subseccion{
     width: 50%;
     margin: auto;

}
#contenido{
     width:100%;
     height: auto;
}

#secciones{
     width:100%;
     overflow: hidden;
     margin: auto;

}

.lista_seccion{
     list-style: none;
     display: inline;
     margin-right: 2%;

}

.lista_seccion:hover{
     background-color: crimson;
}

.enlaces_secciones{
     font-size: 20px;
     text-decoration:none;
     color: black;
}
.enlaces_secciones:hover{
     color: white;
}

#conjunto_columnas{
     height: auto;
     display: flex;
     margin: auto;
     width:100%;

}
#columna1{
     margin:auto;
     width: 20%;
     height: auto;
     border-style: solid;
     border-color:red;
     border-radius: 5px;

}
#columna2{
     margin:auto;
     width: 30%;
     height: auto;
     border-style: solid;
     border-color:red;
     border-radius: 5px;
}

#columna3{
     margin:auto;
     width: 20%;
     height: auto;
     border-style: solid;
     border-color:red;
     border-radius: 5px;
}



#lista_secciones{
     width:100%;
     overflow: hidden;
     text-align: center;
}
#pie_pagina{
     margin-top:2%;
     width: 100%;
     height:auto;
     overflow: hidden;
     background-color: yellow;
     display: flex;
     background-color: #A2A1A1;
}
#redes_sociales{
     width: 50%;
     display:flex;
}

#contenido_pie_pagina{
     width:50%;
}
#texto_siguenos{
     width: 50%;
     display: inline;

}
#iconos_redes_sociales{
     text-align: center;
     width:50%;
     overflow: hidden;
     display: flex;
}
.icono_red1{
     width:33%;
     height:auto;
     display: block;
}
.img_logo{
     margin-top: 12%;
     width: 80px;
     height:80px;
}
#texto_redes_sociales{
     text-align: center;
     font-size: 30px;
     color: white;
}
.pie_autores{
     font-size:18px;
     color:white;
     text-align: center;
}

.titulo_noticia{
     width:100%;

}
.centrar_noticia{
     width:100%;
     text-align: center;
     font-size: 20px;
}
.centrar_noticia_col2{
     width:100%;
     text-align: center;
     font-size: 20px;
}

.enlaces_noticias{
     text-decoration: none;
     color:black;
}
.enlaces_noticias_color{
     text-decoration: none;
     color:#FA3239;
}
.imagen_columna1{
     width:250px;
     height:150px;;
     text-align: center;
}
.imagen_columna2{
     width:350px;
     height:200px;
     /*width:250px;
     height:150px;*/
     text-align: center;
}

.imagen_columna3{
     width:250px;
     height:150px;
     text-align: center;
}
.div_imagen_columna2{
     text-align:center
}


.texto_noticia_col1{
     width:100%;
}
.texto_noticia_col2{
     width:80%;
     margin: auto;

}
.texto_noticia_col3{
     width:100%;
}
.noticia{
     margin-top: 2%;
     width: 100%;
}
.color_enlace{
     color:#7A1216;
}

/*--------------------------noticia---------------------------*/

#cabecera{
     background-color: red;
     margin-top: 0px;
}

#futbol{
	background-color: Crimson;
	color: white
}

#caja{
	width:100%;
	height:100%;
	margin:auto;

}

#izquierda{
  margin-left: 1%;
	width:75%;
	height:100%;
	float:left;

}


#derecho{
	width:20%;
	height:100%;
	float:right;
}

#titulo_derecha{
	text-align:center
}

.imagennoticia{
	text-align: center;
}

.imagen_cuerpo{
	text-align: center

}


#titulo{
	text-align: center;
     font-size: 40px;

}

#subtitulo{
	text-align: center;
     font-size: 25px;
}

#entradilla{
     font-size: 20px;
}

#fecha_y_autor{
	color: blue;
}

.pie_imagen{
  font-style: italic;
  color: #7A1216;
}

#boton_imprimir{
  width: 40px;
  height: 40px;
}

#enlace_boton{
  text-align: center;
}

.imagen_relacionada{
     width:220px ;
     height:124px;
}

#titulo_derecha{
     font-size: 20px;
     text-decoration: underline;
}

.textonoticia{
     text-align: center;
}

/*-------------------------imprimible---------------------*/
.noticiaimp{
  font-family: "times new roman";
  font-size: 20px;
}

#box{
  width: 100%;
  height: 100%;
  margin: auto;
}

#centro{
  width: 70%;
  height: 100%;
  margin: auto;
}

/*PRÁCTICA 2*/

#boton_comentarios{
     margin-left: 35%;
     margin-right: 35%;
     font-weight: bold;
     cursor: pointer;
     padding: 5px;
     border: 1px solid #ccc;
     background: #eee;
     border-radius: 8px 8px 8px 8px;
}

#div_comentarios{
     width:100%;
     margin-bottom:: 2%;
     display: none;
     margin-bottom: 5%;
}
.comentario{
     margin-top:5%;
     width:90%;
     margin-left: 5%;
     margin-right: 5%;
     border-style: solid;
     border-color:#493908;
     border-radius: 15px;
     background:#F5BD46;
}

.th_comentario{
     text-align: center;
      font-weight: bold;
      color:#493908;
      font-size: 18px;

}
.autor_comentario{
     padding-left: 4%;
     background: #FFF9B5;
     color:#493908;
}
.fecha_comentario{
     padding-left: 4%;
     background: #FFF9B5;
     color:#493908;

}
.descripcion_comentario{
     padding-left: 4%;
     background: #FFF9B5;
     color:#493908;
}
.texto_comentario{
     text-align: justify;
     padding-left: 4%;
     width: 80%;
     word-wrap: break-word;
     background: #FFF9B5;
     color:#493908;
     margin:auto;
     margin-bottom: 2%;
}

#formulario_comentario{

     width:80%;
     margin: auto;
     margin-top:15%;
}

.cabecera_comentario{
     text-align: center;
     font-weight: bold;
     font-size: 20px;
}
#boton_quitar_comentarios{
     margin-left: 35%;
     margin-right: 35%;
     margin-top:5%;
     font-weight: bold;
     cursor: pointer;
     padding: 5px;
     border: 1px solid #ccc;
     background: #eee;
     border-radius: 8px 8px 8px 8px;
     display: none;

}
#texto_com{
     resize:none;
     width:95%;
}

#formulario_comentarios{
     border-style: solid;
     border-color:black;
     border-radius: 15px;

     margin-top:5%;
}
.negrita{
     font-weight: bold;
}
#boton_enviar_form{
     font-weight: bold;
     cursor: pointer;
     padding: 5px;
     border: 1px solid #ccc;
     background: #eee;
     border-radius: 8px 8px 8px 8px;
}
#form_comentarios{
     margin-top:-5%;
}
